page-groups {
    .balance{
        position: relative;
        float: right;
    }

    .group-text1{
        float: left;
        font-size: 20px;
    }

    .group-text2{
        float: right;
        font-size: 20px;
    }
}
